.location-container {
  width: 100%;
  max-width: 800px;
  margin-left:  auto;
  margin-right: 50px;
  margin-top: 60px;
  padding: 20px;
  text-align: center;
}
.location-container h2{
  color: #bed5e9b9;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  font-size: 30px; 
}
.search-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.search-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: rgb(215, 228, 237);
    color: #904b0a;
    font-size: 15px;
}
.search-form button {
  padding: 6px 28px;
  border: none;
  background: #eecac5f9;
  color: rgba(20, 20, 20, 0.951);
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.search-form button:hover {
  background: #171717;
     transition: all 0.2s ease;
    transform: translateY(-3px);
    color: rgb(211, 52, 28);
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 162px;
  
}

.card { 
  padding-bottom: 9px;
  border-radius: 15px;
  background: #7b99b559;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}
.card:hover{
  background-color:black;
  transition: ease-in .5s ;
}
.card h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(190, 224, 246);
  font-size: 15px;
}
.card h3:hover{
  color: pink;
}
.location-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* adjust darkness */
}


.location-container {
  position: relative;
  z-index: 1;
  color: white;

}
