.news-card {
  width: 800px;
  height: 450px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  border-radius: 12px;
  overflow: hidden;
  background-color: #e2e3eaaf;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;

}
.news-card:hover {
    transform: translateY(-6px);
    transition: all 0.2s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

/* Image */
.news-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

/* Content */
.news-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.news-content h3 {
  font-size: 20px;
  margin: 0;
  color: #abb6c8;
}

.news-content p {
  font-size: 15px;
  color: #f1eeec;
  line-height: 1.5;
}
h3 {
  font-size: 20px;
  margin: 0;
  color: #adceedb9;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 10px;
}
h3:hover {
  color: #f1eeede6;
  transform: translateY(-3px);
  transition: all 0.2s ease;
}
p {
  font-size: 15px;
  color: #f0f0f4f5;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
}
